---
import Hats from "../assets/icons/hats.svg";
import Faces from "../assets/icons/faces.svg";
import Outfits from "../assets/icons/outfits.svg";

export enum TargetType {
  HATS = "hats",
  FACES = "faces",
  OUTFITS = "outfits",
}
export interface Props {
  id: string;
  target: TargetType;
  isActive?: boolean;
  icon: string;
  alt: string;
}

const { id, target, isActive = false, icon, alt } = Astro.props;
---

<button
  id={id}
  type="button"
  class={`tab ${isActive ? "active" : ""}`}
  role="tab"
  aria-selected={isActive}
  data-target={target}
>
  {icon === "hats" && <Hats fill="currentColor" />}
  {icon === "faces" && <Faces fill="currentColor" />}
  {icon === "outfits" && <Outfits fill="currentColor" />}
</button>

<style>
  .tab {
    color: rgba(254, 205, 110, 0.4);
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 0;
    border-bottom: 2px solid rgba(254, 205, 110, 0.4);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .tab:hover {
    color: rgba(254, 205, 110, 0.8);
    border-color: rgba(254, 205, 110, 0.8);
    transform: translateY(-1px);
  }

  .tab.active {
    color: rgba(254, 205, 110, 1);
    border-color: rgba(254, 205, 110, 1);
  }

  .tab svg {
    width: 24px;
    height: 24px;
  }
</style>
